#Navbar{
    display: flex;
    justify-content: left;
    color:white;
    background-color: rgb(9,16,32);
    font-size: 20px;
    gap:0 150px;
    height: 130px

}
#Navbar a{
    color:rgb(214, 222, 229);
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    margin-top: 10px;
}
#Navbar a:hover{
 color: rgb(253,71,102);
 text-decoration: underline;
 text-underline-offset: 25px ;
 text-decoration-thickness: 3px;
}
#navImg{

    height: 80%;
    display: block;
    margin:auto 100px;
    background-color: rgb(152,156,171);
    border-radius: 50%;
}
#icons{
    margin-top: 10px;
}
#link{
    margin-top: 15px;
}
#logo{
    display: flex;
}
#small{
    display:none;
}


@media all and (max-width:860px) and (min-width:550px) {


    #Navbar a{
        padding: 5px;
    }
    #Navbar{
        gap:0px
    }
    #logo{
        height: 70%;
        margin:auto 0px;
    }
 
}


@media all and (max-width:550px) and (min-width:200px) {

 
    #Navbar a{
        padding: 0px;
    }
    #logo{
        display: none;
    }
   
}