#Navbar{
    display: flex;
    justify-content: space-around;
    color:white;
    font-size: 20px;


}
#Navbar a{
    color:rgb(214, 222, 229);
    text-decoration: none;
    font-weight: 500;

}
.iconbtn:hover{
    border: 2px solid gray;
    color:gray
}
.redDiv{
    margin: 0 15px ;
 
    padding:20px 0;
}
.redDiv i{
    margin-right:5px ;
}
.redDiv:hover{
    border-bottom: 3px solid  rgb(253,71,102) ;
    align-items: end;
  
    color: rgb(253,71,102)
}

#navImg{
    width: 60px;
    display: block;
    margin: 0 40px;
}
#navCv:hover{
    background-color: transparent;
    border:2px solid gray;
    color:gray
}
#icons{
    margin-top: 15px;
}

#link{

    display: flex;
}
#logo{
    display: flex
}
#small{
    display:none;
}

#nameShivam{
    margin-top: 10px;
}
#linksmall{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    color:rgb(152,156,171);
    font-size: 35px;
}
@media all and (max-width: 1100px) and (min-width:900px) {

    #nameShivam{
        display: none;
    }

}
@media all and (max-width: 900px) and (min-width:610px) {
    #Navbar{
        display: block;
        justify-content: unset;
    }
    #link{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    #logo{
        size:10px;
        
    }
    #navImg{
        display: none;
    }

  
    #small{
        display: none;
    }
    #nameShivam{
        display: none;
    }
    #icons{
        display: none;
    }
    .redDiv{
        margin: 0;
    }
    #linksmall{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        color:rgb(152,156,171);
        font-size: 35px;
    }
}

@media all and (max-width: 610px) and (min-width:200px) {

    #icons{
        display: none;
    }
     #small{
        display: block;
     }
     #logo{
        display: none
     }
     #linksmall{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        color:rgb(152,156,171);
        font-size: 35px;
    }
    #IconCom{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    
}