
#side_div{

  width: 45%;
  background-color:rgb(9,16,32);
  
}
#feel_Free{
  font-size:30px;

  background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 30%;
    margin:auto;
    margin-bottom:60px;
    font-weight: 700;
}
#hii{
  

  background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 21%;
    font-weight: 700;
}
#contact{
 
  display: flex;
}
#contact_inputs{
display: flex;
flex-direction: column;
gap: 30px;
width: 48%;
margin:auto
}
.img{
  width: 100%;
}
input[type="submit"] {
  padding:12px 100px;
  width: 250px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color:white;
  background-color:rgb(253,71,102);
  border-radius: 30px;
  margin-bottom: 100px;
}
input[type="text"],input[type="email"],input[type="message"],textarea,input[type='number']{

  background-color:transparent;
  border:2px solid rgb(152,156,171);
  font-style:italic;
  width: 100%;
  padding:5px 20px;
  font-size: 25px;
  color:rgb(117,117,117)
  
}
input[type="text"]::placeholder,input[type="email"]::placeholder,input[type="message"]::placeholder,textarea::placeholder,input[type='number']::placeholder{
  color:rgb(117,117,117);
  
}
@media all and (max-width: 1100px) and (min-width:200px) {
 
  #contact{
 
    display: block;
  }
  #feel_Free{
    font-size:30px;
  
    background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 100%;
      margin:auto;
      margin-bottom:100px;
      
  }
  #hii{
  

    background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 62%;
      font-weight: 700;
  }
  #contact_inputs{
   
    gap: 30px;
    width: 90%;
  
    }
    #side_div{

      width: 90%;
      margin:auto;
     
    }
}
         