#skill img{
  width: 100px;
  height: 100px;
  margin: auto;
  align-items: center;
}

.skill_tool img{
  width: 100px;
  height: 100px;
  margin: auto;
}

#skill{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px
}


#s{
    background-color:rgb(14,21,37);
 }
#sh1{
  text-decoration: underline;
  padding:30px;
  
  
}
#whole_Skill{
    width: 70%;
    margin: auto;
    border-radius: 10px;
    
}
.round{
 
 background-color:rgba(231, 230, 230, 0.612);
 padding: 10%;
 border-radius: 50%;
 background-color: rgb(68,120,171);
 background-color: #989CAB;

}
#heading2{
  color:pink;
  font-size: 58px;
  font-weight: 700;
 
}
#hp{
  font-size: 30px;
  text-align: justify;
  width: 80%;
  margin:auto;
  background-color:rgb(14,21,37);
  padding:40px
}
.round:hover{
  

}


@media all and (max-width: 1100px) and (min-width:750px) {
  /* Medium Screen Styles  */
  #skill img{
    width: 50px;
    height: 50px;
    margin: auto;
  }
 #hp{
  width: 90%;
 }

  .round{
    margin: 20px;
    padding:60px 0
  }
  #whole_Skill{
      width: 100%;
      border-radius: 0;
  }
  #whole_Skill h1{
    font-size: 10px;
  }
  /* #whole_Skill:hover{
    background-color:rgba(41, 50, 65, 0.793)
  } */
 }
@media all and (max-width: 750px) and (min-width:200px) {
  /* Medium Screen Styles  */
  #skill img{
    width: 50px;
    height: 50px;
    margin: auto;
  }
  #hp{
    width: 90%;
    font-size: 18px;
   }
  #skill{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

  #whole_Skill{
      width: 100%;
      border-radius: 0;
      
  }
  #whole_Skill h1{
    font-size: 10px;
  }
  .round{
    margin:20px;
   
  }
  /* #whole_Skill:hover{
    background-color:rgba(41, 50, 65, 0.793)
  } */
 }
 
