#Aboutt{
   
    display:flex;
    background-color: #0E1525;
    padding-top: 160px 
    
}
#fold{
    display: none;
}
#image{
    padding: 25px;
    width: 41.666%;
    
}
#image_hide{
    padding: 25px;
    width: 41.666%;
    display: none;
   
}

#image img{
    border-radius: 10px;
    width: 98%;
}
#aboutnav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 84%;
    margin:15px 0;
    border: 1px solid gray;
    border-radius: 50px;
    height: 55px;
}
#aboutnav span{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    height: 55px;
}
#textabout{
    width: 58.3333%;
    padding: 25px;
}

#inn{
    background-image: linear-gradient(-224deg,#fd4766,#337dff);
    -webkit-text-fill-color: transparent;
}
#aboutpara2{
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    margin-right:20px;
    color:rgb(152,156,171);

}
#abouth2{
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     width: 260px;
     margin-top: -20px;
    font-weight: 600px;
}
hr{
    display: none;
}
.fn{
  color:rgb(152,156,171);
  text-align:left;
  font-weight: 600;
  font-size: 18px;
}
.fns{
    display: flex;
    gap:40px;
    color:rgb(152,156,171);
    text-align:left;
    font-weight: 600;
    font-size: 18px;
  }
.fn li{
    margin-left:18px;
}
.fn h3{
    margin-left:50px;
}
#prog{
    width:75% ;
    margin:30px auto;
}
#aboutnav p{
    margin-top: 14px;
}
#hideP{
    display: none;
}
#abouth2hide{
    font-size: 50px;
    font-weight: 600;
    margin:auto;
    background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     width: 260px;
     margin-top: -20px;
     font-weight: 600px;
     display: none;
}
@media all and (max-width:1100px) and (min-width:635px) {

    #Aboutt{
        display: block;
        padding-top: 20px;
        padding-bottom: 1px;
    
    }
    #image{
      
        display: none;
        
    }
    #image_hide img{
    
        width: 40%;
    }
    #image_hide{
        display: block;
        width: 80%;
        margin:40px;
        display: flex;
        justify-content:space-between ;
        background-color:rgb(9,16,32);
        margin:auto;
    }
    #hideP{
    color:rgb(152,156,171);
    display: block;

    font-size: 18px;
    text-align: left;
    width: 58%;
    }
    #aboutnav{
        width: 100%;
    }
    #textabout{
        width: 100%;
        padding:0px
    }
    #aboutpara2{
       display: none;
    }
    #Aboutnav p{
        font-size: 21px;
        margin-top: 10px;
    }
    #abouth2hide{
         display: block
    }
    #abouth2{
        display: none;
    }
    #textboxinner{
    width: 70%;
    margin:auto
        
    }
}
    @media all and (max-width:915px) and (min-width:635px) {
        #hideP{
            font-size: 16px;
            }
    }
    @media all and (max-width:820px) and (min-width:635px) {
        #hideP{
            font-size: 14px;
            }
            #abouth2hide{
                font-size: 30px;
                margin:10px auto;
                width: 200px;
            }
    }
    @media all and (max-width:725px) and (min-width:635px) {
        #hideP{
               font-size: 12px;
            }
            #aboutnav{
                height: 48px;
            }
            #aboutnav span{
                height: 48px;
            }
            #aboutnav p{
                margin-top: 10px;
            }
    }
 



@media all and (max-width:635px) and (min-width:200px) {
    
        #Aboutt{
            display: block;
            padding-top: 20px;
            padding-bottom: 40px;
        }
      

        #image_hide{
            width: 60%;
            margin:20px auto;
            display: flex;
            justify-content:space-between ;
            border: 2px solid rgb(152,156,171);
            text-align: justify;
        }

       #abouth2hide{
            display: block;
            width: 138px;
    
       }
       #abouth2{
           display: none;
       }
       #abouth2hide{
        font-size: 30px;
        margin:10px auto;
       }
       #aboutpara2{
        font-size: 17px;
        line-height: 30px;
        text-align:justify;
        margin:15px;
        color:rgb(152,156,171);
        line-height: 20px;
       }
       #textabout{
        width: 96%;
        padding:0px;
        margin:auto
       }
       #aboutnav{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    
        width: 100%;
       }
       #box{
        margin-left: 10px;
       }
       #image{
        display: none;
       }
    }
    
@media all and (max-width:500px) and (min-width:200px) {
 
   #aboutnav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border:none;
    width: 100%;
    height: unset;
   }
   hr{
    display: block;
    margin-bottom: 10px;
   }

}
@media all and (max-width:420px) and (min-width:200px) {
   #image_hide{
    padding:0px;
    border-radius: 10px;
   }
   .fns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0px
   }
 }
 @media all and (max-width:336px) and (min-width:200px) {
     #aboutnav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
     #aboutpara2{
        font-size: 17px;
        line-height: 30px;
        text-align:justify;
        margin:5px;
        color:rgb(152,156,171);
        line-height: 20px;
       } 
  }
 